<div class="flex items-center w-full">
  <div class="flex w-6/7 card-blue">
    {{yield}}
  </div>
  <div class="flex justify-center w-1/7 text-2xl text-grey-dark">
    {{fa-icon "cog"}}
  </div>
</div>
