.title-container {
	margin-bottom: 2em;
}

.title {
	font-size: 1.4em;
	margin-bottom: 0.2em;
}

.instruction {
	font-size: 0.8em;
	font-style: italic;
}

.form-row {
	margin-bottom: 2em;
}

.is-active-container {
	input {
		width: 1em;
		height: 1em;
	}
}
