@import 'tailwind';

// @import "breakpoint";
@import "variables";
@import "reset";
@import "layout";
@import "utils";
@import "typography";
@import "shadows";
@import "ui";
@import "pod-styles";
@import "dropdown";

@import "ember-power-select";
@import "ember-modal-dialog/ember-modal-structure";

$bm-transition-duration: 0.3s;

@import 'ember-burger-menu';

.ember-modal-overlay.translucent {
  background-color: rgba(#808080, .77);
}

.bm-menu {
  background-color: $medium-blue;
  margin: 0;
  padding: 0;
}

.bm-menu-item {
  list-style: none;
  width: 100%;

  a {
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem 1rem;
  }

  :hover {
    background-color: $light-blue;
  }
}
