.site-container
  display: flex
  min-height: 100vh
  flex-direction: column

.site-content
  flex: 1

.center
  align-items: center
  justify-content: center

.vcenter
  justify-content: center

.hcenter
  align-items: center

.right
  align-items: flex-end

.bottom
  align-items: flex-end

.baseline
  align-items: baseline

.row-vcenter
  align-items: center

.row
  display: flex
  flex-direction: row

.stretch
  flex: 1

.space-between
  justify-content: space-between

// .row
//   display: flex
//
// .col
//   display: flex
//   flex-direction: column

// for num in (1..12)
//   .col-{num}
//     @extend .col
//     width: "calc(100/12 * %s%)" % num;

.only-mobile
  display: none

.hide-mobile
  display: inline-flex
