// .main-container {
//   color: $slate;
// }
//
// .outer-container {
//   display: flex;
//   flex: 1;
//   flex-direction: column;
//   background: $body-color;
// }

.info-section {
  margin-bottom: 1em;
  padding: 1em;
}

.site-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  display: flex;
  flex: 1;
}
