.main-container
  height: 100vh

.stretch-v
  height: 100vh

.center
  align-items: center
  justify-content: center

.vcenter
  justify-content: center

.hcenter
  align-items: center

.right
  align-items: flex-end
  justify-content: flex-end

.bottom
  align-items: flex-end

.stretch
  width: 100%
  height: 100%

.space-between
  justify-content: space-between

.row
  display: flex

.col
  display: flex
  flex-direction: column

for num in (1..9)
  .col-{num}
    @extend .col
    flex: num

// Refactor out into components
.landingContainer
  padding: 5em
  max-width: 60em
  background: #FFB928
