html, body, section
  margin: 0
  padding: 0

input:focus,
select:focus,
textarea:focus,
button:focus
  outline: none

a
  text-decoration: none
  color: inherit

button
  margin: 0
  padding: 0
  border: 0

::-webkit-scrollbar
  width: 11px
  height: 11px

::-webkit-scrollbar-button
  width: 0px
  height: 0px

::-webkit-scrollbar-thumb
  background: #e1e1e1
  border: 0px none white
  border-radius: 50px

::-webkit-scrollbar-thumb:hover
  background: white

::-webkit-scrollbar-thumb:active
  background: rgba(white, 0.9)

::-webkit-scrollbar-track
  background: rgba(white, 0.5)
  border: 0px none white
  border-radius: 50px

::-webkit-scrollbar-corner
  background: transparent
