.info-form-container {
	background: $light-blue;
	padding: 2em;
}

.children-form-container {
	background: $medium-blue;
	padding-bottom: 2em;
}

.yield-form {
	border-top: 1px dashed $dark-grey;
	background: $medium-blue;
	padding: 2em;
	display: flex;
	align-items: center;
	font-size: 1.4em;
}

.info {
	margin-right: 1em;
}

.yield-container {
	max-width: 3em;
	text-align: center;
	margin-right: 1em;
}

.yield-container input {
	text-align: center;
}

.destroy-form-container {
	padding: 2em;
	background: $light-red;
}
