{{#containers/section-container title="EDIT PREP ITEM"}}
  <div class="flex items-center mt-8">
    {{#editors/node-editor
      model=model
      destroyNode=destroyNode
      handleUpdate=handleUpdate
    }}
    {{/editors/node-editor}}
  </div>

  <div class="pl-8 mt-8">
    {{forms/node-active-checkbox
      model=model
      toggleActive=handleUpdate
    }}
  </div>

  <div class="card-yellow mt-8 rounded-lg">
    {{forms/node-children-form
      validNodes=validNodes
      children=model.children
      addNode=addNode
      handleUpdate=handleUpdate
      createAndAddNode=createAndAddNode
      cloneGrandCentralNode=cloneGrandCentralNode
      deleteEdge=deleteEdge
      searchPlaceholder="Add items to this prep item"
      emptyNodeText="Alright, let’s start building!"
    }}
  </div>

  {{forms/node-conversion-form
    model=model
    handleUpdate=handleUpdate
  }}

  {{forms/node-uom-settings-form
    model=model
    handleUpdate=handleUpdate
    uoms=uoms
  }}
{{/containers/section-container}}
