.hero-container {
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  color: $dark-grey;

  @include breakpoint(1000px) {
    padding: 5em;
  }
}

.image-container {
  justify-content: center;
  flex: 1;
  display: none;

  @include breakpoint(1000px) {
    display: block;
  }

}

.copy-container {
  justify-content: center;
  flex: 1;

  @include breakpoint(1000px) {
    padding-right: 5em;
  }
}

.landing-image {
  width: 100%;
  height: auto;
}

.main-title {
  font-size: 1.8em;
  margin-bottom: 2em;
}

.sub-title {
  font-size: 1.2em;
  line-height: 2em;
}

.benefit {
  background: $dark-blue;
  padding: 2em;
  color: white;
  font-size: 1.6em;
  justify-content: center;

  span {
    text-align: center;
    line-height: 2em;
  }
}

.signup-button {
  background: $dark-green;
  font-size: 1em;
  font-weight: 500;
  padding: 1.2em;
  border-radius: 6px;
  justify-content: center;
  .button-label {
    text-align: center;
  }

  @include breakpoint(1700px) {
    font-size: 1em;
  }

  @include breakpoint(1810px) {
    font-size: 1.5em;
  }
}
