.hero-container {
  align-items: center;
  margin-top: 2em;
  padding: 5em;
  color: $dark-grey;
}

.image-container {
  min-width: 30em;
  margin-left: 5em;
  display: inline-block;
}

.landing-image {
  width: 80%;
  height: auto;
}

.main-title {
  font-size: 1.8em;
  margin-bottom: 2em;
}

.sub-title {
  font-size: 1.2em;
  line-height: 2em;
}

.ui-container {
  margin-top: 2em;
  button {
    background-color: $dark-green !important;
    margin: 0;
    padding: 0.5em 1em;
    font-size: 1.1em;
  }
}

.benefit {
  background: $sky-blue;
  padding: 2em;
  color: white;
  font-size: 1.6em;
  justify-content: center;

  span {
    text-align: center;
    line-height: 2em;
  }
}
