<div class="hero-container row">
  <div class="col">
    <div class="main-title">
      Run your juice production like a pro.
    </div>
    <div class="sub-title">
      Bulletproof recipe creation, management, & scaling. Get peace of mind that your recipes are exact and reduce the daily stress of manual scaling.
    </div>
    <div class="ui-container">
      {{ui/icon-label-button
          class='signup-button'
          click=signup
          label='Try Now For Free'}}
    </div>
  </div>
  <div class="row hide-xs">
    <div class="image-container">
      <img class="landing-image" src="images/landing_1.png" alt="">
    </div>
  </div>
</div>

<div class="benefit">
  <span class="col-5_xs-col-12">
    Juice shop owners see an average savings of 22&frac12; hours per month and reduce food waste by 13.7%
  </span>
</div>
