.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $dark-blue;
  color: white;
  padding: 0 1em;
}

.content-container {
  background: $light-blue;

  width: 100%;
  margin-top: 0;

  @include breakpoint(1000px) {
    width: 80%;
    margin-top: 2em;
  }

  @include breakpoint(1200px) {
    width: 70%;
  }

  @include breakpoint(1400px) {
    width: 60%;
  }

  @include breakpoint(1600px) {
    width: 50%;
  }

  @include breakpoint(1800px) {
    width: 40%;
  }
}

.empty-message {
  font-size: 2em;
  color: grey;
}
