.main-header {
  justify-content: space-between;
  align-items: center;
  background: blue;
  color: white;
  padding: 0 1em;
}

.content-container {
  padding: 2em;
}

.empty-message {
  font-size: 2em;
  color: grey;
}
