<div class="content-container">
  <div class="main-header">
    <h1>Productions</h1>

    <div>
      {{ui/icon-label-button
          class="btn-blue"
          click=createAction
          label='Create New Production'
          icon='plus'}}
    </div>
  </div>
  {{lists/label-list
      rowType='rows/date-label-row'
      createAction=createAction
      selectAction=selectAction
      destroyAction=destroyAction
      model=model}}
</div>
