
<div class="layout-row main-header">
  <h1>Productions</h1>

  <div>
    <button type="button" name="button" {{action 'createProduction'}}>Create Production</button>
  </div>
</div>

<div class="content-container">
  {{#if hasProductions}}
    {{lists/productions-list
        model=sortedProductions
        navigateToProduction=navigateToProduction
        destroyNode=destroyNode}}
  {{else}}
    <div class="empty-message">
      No productions have been created yet.
    </div>
  {{/if}}
</div>
