{{#dialogs/base-dialog
  onClose=onClose
as |dialog|
}}
  {{#dialog.header}}
    ITEM CREATED!
  {{/dialog.header}}

  {{#dialog.row}}
    <p class="text-4xl font-thin">
      Since this is something you make, don’t forget to add raw materials to the recipe.
    </p>
  {{/dialog.row}}

  {{#dialog.row}}
    <p class="text-4xl font-thin">
      You can edit any item by clicking its title.
    </p>
  {{/dialog.row}}

  {{#dialog.row}}
    <div class="flex items-center text-base">
      {{fa-icon "question-circle" class="text-2xl"}}
      <a class="underline font-semibold pl-2" href="#">Click Here</a>
      <span class="pl-2">to watch a short tutorial on how to do this.</span>
    </div>
  {{/dialog.row}}

  {{#dialog.footer as |footer|}}
    {{#footer.button
      color="blue"
      onClick=onClose
    }}
      GOT IT!
    {{/footer.button}}
  {{/dialog.footer}}
{{/dialogs/base-dialog}}