<div class="layout-row">
  {{#paper-button onClick=(action navigateTo 'products')}}Products{{/paper-button}}
  {{#paper-button onClick=(action navigateTo 'recipes')}}Recipes{{/paper-button}}
  {{#paper-button onClick=(action navigateTo 'productions')}}Productions{{/paper-button}}
</div>
