<span class="logo"><a href="#" {{action navigateTo 'productions'}}>you pressed</a></span>

{{#if session.isAuthenticated}}
  {{#paper-button onClick=(action navigateTo 'productions')}}Productions{{/paper-button}}
  {{#paper-button onClick=(action navigateTo 'products')}}Products{{/paper-button}}
  {{#paper-button onClick=(action navigateTo 'recipes')}}Recipes{{/paper-button}}
  {{#paper-button onClick=(action navigateTo 'ingredients')}}Ingredients{{/paper-button}}
{{/if}}

<div class="flex"></div>

{{#if session.isAuthenticated}}
  <div class="layout-row account-ui-container">
    <span>{{session.session.authenticated.profile.email}}</span>
    <span class="divider">|</span>
    {{#paper-button onClick=(action logout)}}Logout{{/paper-button}}
  </div>
{{else}}
  {{#paper-button onClick=(action login)}}Login{{/paper-button}}
{{/if}}
