textarea {
	border: 1px dashed $dark-grey;
	background: none;
	font-size: 1.2em;
	color: inherit;
	transition: 0.25s all;
	border-radius: 10px;
	resize: none;
	padding: 0.5em;
	width: calc(100% - 1em - 2px);
}

textarea:focus {
	border: 1px dashed $dark-blue;
}

.description {
	margin-top: 0.2em;
	font-size: 0.8em;
}
