<div class="info-form-container">
  {{forms/node-info-form
      title='Product Editor'
      instructions='Add the basic info for this product.'
      model=model
      handleUpdate=handleUpdate}}
</div>

<div class="children-form-container">
  {{forms/node-children-form
      title='Product Recipe'
      validNodes=validNodes
      model=model
      addNode=addNode
      handleUpdate=handleUpdate
      deleteEdge=deleteEdge}}
</div>
