<div class="">
  Is Saving: {{autoSaveIndicator.isSaving}}
</div>
{{#containers/section-container title="Edit Product"}}
  <div class="flex items-center mt-8">
    {{#editors/node-editor
      model=model
      destroyNode=destroyNode
      handleUpdate=handleUpdate
    }}
    {{/editors/node-editor}}
  </div>

  <div class="pl-8 mt-8">
    {{forms/node-active-checkbox
      model=model
      toggleActive=handleUpdate
    }}
  </div>

  <div class="card-yellow mt-8 rounded-lg">
    {{forms/node-children-form
      title="Product Recipe"
      validNodes=validNodes
      children=model.children
      addNode=addNode
      handleUpdate=handleUpdate
      createAndAddNode=createAndAddNode
      cloneGrandCentralNode=cloneGrandCentralNode
      deleteEdge=deleteEdge
    }}
  </div>
{{/containers/section-container}}
