& {
  cursor: pointer;
  padding: 1em 1em;
  .ui-container {
    opacity: 0;
     transition: opacity 0.25s;
  }
  align-items: center;
}

&:nth-child(even) {
  background: $light-blue;
}

&:hover {
  .ui-container {
    opacity: 1;
  }
}

.index {
  font-weight: bold;
}
