<div class="flex-5 index">{{index}}.</div>
<div class="flex-45">{{moment-format model.date 'ddd MM/DD' 'YYYY-MM-DD'}}</div>
<div class="flex-45">{{model.totalChildQuantity}}</div>

{{#if hasDestroyAction}}
  <div class="flex-5 ui-container" {{action 'handleDestroyClicked' bubbles=false}}>Delete</div>
{{/if}}
