<div class="row-blue">
  <div class="flex items-baseline">
    <div class="text-base italic mr-4">{{index}}.</div>
    <div class="flex items-center text-2xl">
      <div class="bold">{{moment-format model.date 'ddd' 'YYYY-MM-DD'}}</div>
      <span class="ml-2 mr-2">-</span>
      <div class="bold">{{moment-format model.date 'MM/DD' 'YYYY-MM-DD'}}</div>
    </div>
  </div>
  <div class="flex items-baseline">
    <span class="text-2xl">{{model.totalChildQuantity}}</span>
    <span class="text-base ml-4">Total Units</span>
  </div>
</div>
