<div class="layout-row content-container-header">
  <div class="flex-5">#</div>
  <div class="flex-45">Date</div>
  <div class="flex-45">Total Units</div>
  <div class="flex-5"></div>
</div>

<div class="layout-col list">
  {{#each model as |production index|}}
    {{lists/productions-list/production-row
        model=production
        index=index
        destroyNode=destroyNode
        navigateToProduction=navigateToProduction}}
  {{/each}}
</div>
