<div class="flex-5 index">{{index}}.</div>
<div class="flex label">{{model.label}}</div>
<div class="flex-10">
    {{#with (to-best-unit model.factor model.uom) as |scaled|}}
      <span class="qty">
        {{round scaled.q}}
      </span>
      <span class="uom">
        {{scaled.uom}}
      </span>
    {{/with}}
</div>
