
.search {
  .ember-power-select-trigger {
    border-bottom: 1px solid rgba(237, 233, 237, 0.5);
    font-size: 2em;
    color: red;
    font-style: italic;
    font-weight: 300;
    padding-left: 2rem;
  }
}
