.form-header
  padding: 2em
  border-bottom: 1px dashed dark-grey

.title
  font-size: 1.4em
  margin-bottom: 1em

.unit-container
  width: 4em

.options-container > .ember-power-select-trigger
    border-radius: 0
    padding: 0.5em

    .ember-power-select-status-icon
      display: none

.line-items-container
  padding-top: 2em

.line-item-row
  padding: 0.5em 2em
