<div class="flex flex-col mb-2 p-4 shadow bg-blue-lightest">
  <div class="form-header">
    <div class="title">
      {{title}}
    </div>
    <div class="options-container">
      {{#power-select
        options=validNodes
        searchField="label"
        search=(action "search")
        onchange=(action "handleSelect")
        placeholder="Search and add recipes or ingredients..."
        beforeOptionsComponent=(component "power-select/before-options" autofocus=true)
      as |node|
      }}
        {{node.label}}
      {{/power-select}}
    </div>
  </div>

  <div class="line-items-container">
    {{#each model.children as |edge index|}}
      {{rows/line-item-row
        index=(inc index)
        model=edge
        handleUpdate=handleUpdate
        deleteEdge=deleteEdge
        uoms=uoms
      }}
    {{/each}}
  </div>
</div>

{{#if showCreateIngredient}}
  {{dialogs/new-ingredient
    cancel=(action "cancelCreateIngredient")
    create=createAndAddNode
    label=tempIngredientName
  }}
{{/if}}
