<div class="flex flex-col">
  <div class="search z-20">
    {{ui/simple-search
      options=validNodes
      onselect=(action "handleSelect")
      placeholder="Search and add recipes or ingredients..."
    }}
  </div>

  {{#if hasChildren}}
    <div class="z-10 py-8">
      {{#each model.children as |edge index|}}
        {{rows/line-item-row
          index=(inc index)
          model=edge
          handleUpdate=handleUpdate
          deleteEdge=deleteEdge
          uoms=uoms
        }}
      {{/each}}
    </div>
  {{else}}
    <div class="flex justify-center items-center p-12">
      <p class="text-5xl text-grey font-thin py-8">
        Alright, let’s start creating!
      </p>
    </div>
  {{/if}}
</div>

{{#if showCreateIngredient}}
  {{dialogs/new-item-wizard
    cancel=(action "cancelCreateIngredient")
    create=createAndAddNode
    itemLabel=tempIngredientName
  }}
{{/if}}
