{{#containers/section-container title="EDIT INGREDIENT"}}
  <div class="flex items-center mt-8">
    {{#editors/node-editor
      model=model
      destroyNode=destroyNode
      handleUpdate=handleUpdate
    }}
    {{/editors/node-editor}}
  </div>

  {{forms/node-uom-settings-form
      model=model
      handleUpdate=handleUpdate
      uoms=uoms
  }}
{{/containers/section-container}}
