.title {
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: 500;
}

.delete-button {
  background: $dark-red;
  padding: 1em;
  border-radius: 6px;
  color: white;
  justify-content: center;
  font-size: 1.2em;
}
