{{#with (to-best-unit (mult model.q factor) model.uom) as |scaled|}}
  <div class="layout-row row-content-container">
    <span class="index">
      {{index}}.
    </span>
    <span class="label">
      {{model.b.label}}
    </span>
    <span class="flex"></span>
    <span class="qty">
      {{round scaled.q}}
    </span>
    <span class="uom">
      {{scaled.uom}}
    </span>
  </div>
{{/with}}
