{{#with (to-mixed (mult model.q factor) model.uom model.forceUomsParsed) as |mixed|}}
  <div class="layout-row row-content-container">
    <span class="index">
      {{index}}.
    </span>
    <span class="label flex-50">
      {{model.b.label}}
    </span>
    <span class="flex"></span>
    {{#each mixed as |uom|}}
      <div class="measurement layout-row flex-15">
        <span class="qty flex-50">
          {{uom.q}}
        </span>
        <span class="uom flex-50">
          {{uom.uom}}
        </span>
      </div>
    {{/each}}
  </div>
{{/with}}
