{{#link-to 'recipes.show' model.a.id}}
  <div class="row baseline">
    <span class="index">{{index}}.</span>
    <span class="label">{{model.a.label}}</span>
    <div class="ui-container">
      <span class="icon">{{ui-icon 'pencil'}}</span>
    </div>
  </div>
{{/link-to}}
