.info-section {
  margin-bottom: 1em;
}

.content-container {
  width: 100%;
  background: $light-blue;

  @include breakpoint(1000px) {
    width: 80%;
    margin-top: 2em;
  }

  @include breakpoint(1200px) {
    width: 70%;
  }

  @include breakpoint(1400px) {
    width: 60%;
  }

  @include breakpoint(1600px) {
    width: 50%;
  }

  @include breakpoint(1800px) {
    width: 40%;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $dark-blue;
  color: white;
  padding: 1em 1em;
}

.date-container {
  align-items: baseline;

  .label {
    font-size: 1.5em;
    font-weight: bold;
  }

  .date {
    margin-left: 1em;
    input {
      font-size: 1.2em;
      text-decoration: underline;
    }
  }
}

.date {
  font-size: 1.4em;

  input, input:focus {
    outline: none;
    border: none;
    border-bottom: 1px dashed rgba(grey, 0.5);
    background: none;
    color: white;
    width: 100%;
  }
}

.product-container-header {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  padding: 1em 1em 0.5em 1em;
}

.dashed-hr {
  border-bottom: 1px dashed rgba(grey, 0.5);
}

.product-row {
  padding: 0.5em 1em;
  align-items: baseline;
}

.product-row {
  input {
    border: none;
    border-bottom: 1px solid $dark-grey;
    font-size: 1.3em;
    background: none;
    width: 100%;
  }

  .index {
    font-style: italic;
    font-weight: bold;
  }

  .label-col {
    font-size: 1.2em;

    a {

      .label {
        border-bottom: 1px solid rgba($dark-grey, 0);
      }

      .ui-container {
        opacity: 0;
        transition: 0.25s opacity;
      }
    }
  }

  .label-col {
    .product-link-button:hover {
      .label {
        border-bottom: 1px solid rgba($dark-grey, 1);
      }

      .ui-container {
        opacity: 1;
      }
    }
  }
}

.product-row:nth-child(even) {
  background: $light-blue;
}

.index-col {
  width: 5%;
  min-width: 2rem;
}

.label-col {
  width: 50%;
}

.qty-col {
  width: 10%;
}
