.product-qty-editor {
  margin-bottom: 1em;
}

.content-container {
  padding: 2em;
}

.header-container {
  background: $dope-blue;
  color: $off-white;
  align-items: center;
  padding: 1em 2em;
  justify-content: space-between;
}

.date-container {
  align-items: baseline;

  .label {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.date {
  font-size: 1.4em;

  input, input:focus {
    outline: none;
    border: none;
    border-bottom: 1px dashed rgba($slate, 0.5);
    background: none;
    color: white;
    width: 100%;
  }
}

.product-container-header {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  border-bottom: 1px dashed rgba($slate, 0.5);
  margin-bottom: 1em;
  padding: 0 1em;
}


.product-row {
  padding: 0.5em 1em;
  align-items: baseline;
}

.product-row {
  input {
    border: none;
    border-bottom: 1px dashed rgba($slate, 0.5);
    padding: 0.25em;
    font-size: 1.3em;
    background: none;
    width: 100%;
  }

  .index {
    font-style: italic;
    font-weight: bold;
  }

  .label {
    font-size: 1.2em;
  }
}

.product-row:nth-child(even) {
  background: $light-blue;
}
