<div class="md-whiteframe-z1 info-section">
  <div class="header-container layout-row">
    <div class="date-container layout-row layout-xs-column">
      <span class="label flex-gt-xs-50">Production for:</span>
      <label class="date flex-gt-xs-30">
        {{pikaday-input format="ddd MM/DD" value=model.date onSelection=updateProductionDate}}
      </label>
    </div>
    <div>
      <div class="ui-container hide-xs">
        {{#paper-button
            onClick=(action 'printAll')
            raised=true
            primary=true}}
              Print All
            {{/paper-button}}
      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="layout-row product-container-header">
      <div class="flex-5">#</div>
      <div class="flex">Product Name</div>
      <div class="flex-10">Count</div>
    </div>

    <div class="layout-col products-container">
      {{#each model.children as |edge index|}}
        <div class="layout-row product-row">
          <div class="flex-5 index">
            {{inc index}}.
          </div>
          <div class="flex label">
            {{edge.b.label}}
          </div>
          <div class="flex-10 qty">
            {{one-way-input edge.q class='edge-qty' update=(action handleUpdate edge "q")}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

{{#paper-button onClick=(action navigateTo 'productions.sheets' model.id)}}View Production Sheets{{/paper-button}}
