{{#containers/section-container title="Edit Productions"}}
  <div class="flex items-center mt-8">
    {{#ui/icon-row}}
      {{pikaday-input
        class="text-5xl font-light p-4 pl-8 text-grey-darker bg-transparent"
        format="MM/DD/YY"
        value=model.date
        onSelection=updateProductionDate
      }}
    {{/ui/icon-row}}

    <div class="flex">
      {{ui/async-button
        label="Print"
        icon="print"
        onClick=(action "printAll")
      }}
    </div>
  </div>

  <div class="mt-16">
    {{#ui/tabs-component as |tab|}}
      {{#tab.panel title="make"}}
        <div class="p-10" data-test-make-tab>
          {{#each sortedRow as |edge|}}
            {{rows/line-item-row
              model=edge
              handleUpdate=handleUpdate
              class="my-4"
            }}
          {{/each}}
        </div>
      {{/tab.panel}}

      {{#tab.panel title="adjust"}}
        {{forms/node-children-form
          localOnly=true
          searchPlaceholder="Add recipes or ingredients to exclude"
          emptyNodeText="Add items to exclude from production"
          validNodes=validSubtractableNodes
          children=adjustmentEdges
          addNode=createAdjustmentEdge
          handleUpdate=handleUpdate
          deleteEdge=deleteEdge
        }}
      {{/tab.panel}}
    {{/ui/tabs-component}}
  </div>
{{/containers/section-container}}
