& {
  padding: 1em;
}

.inner-container {
  border: 1px dashed $slate;
}

.header {
  background: $light-blue;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  align-items: baseline;
  border-bottom: 1px dashed $slate;

  .index {
    margin-right: 0.3em;
  }

  .uom {
    font-size: 0.8em;
    font-style: italic;
    margin-left: 0.3em;
    font-weight: normal;
  }
}

.line-item-container, .notes {
  padding: 1em;
}
