<div class="layout-row content-container-header">
  <div class="flex-5">#</div>
  <div class="flex">Ingredient name</div>
  <div class="flex-10">Total Qty</div>
</div>

{{#each sortedIngredients as |ingredient index|}}
  {{lists/ingredient-list/ingredient-row
      index=(inc index)
      label=ingredient.label
      uom=ingredient.uom
      factor=ingredient.factor}}
{{/each}}
