<div class="grid-noGutter stretch">
  <div class="col-4_sm-12_md-6">
    {{ui/label-button
        class='back-button'
        label='< Back to ingredients'
        onClick=(action navigateTo 'ingredients')}}

    {{editors/ingredient-editor
        handleUpdate=handleUpdate
        addUom=addUom
        removeUom=removeUom
        destroyNode=destroyNode
        nodes=nodes
        model=model}}
  </div>
  {{log destroyNode}}
  <div class="col-8_sm-12_md-6">
    <div class="card-container">
      {{cards/recipes-using-ingredient-card model=model}}
    </div>
  </div>
</div>
