<div class="w-full flex justify-center">
  <div class="md:w-2/3 xxl:w-1/2 w-full">
  {{editors/production-editor
      navigateToProductionSheets=(route-action 'navigateToProductionSheets')
      handleUpdate=(route-action 'handleUpdate')
      updateProductionDate=(route-action 'updateProductionDate' model)
      destroyNode=(route-action 'destroyNode')
      model=model}}
    </div>
</div>
