.card-container {
	column-count: 1;
	column-gap: 0;
  // @include breakpoint(1200px) {
  //   column-count: 2;
  // }
	//
  // @include breakpoint(1600px) {
  //   column-count: 3;
  // }
}

.production-input-container {
	margin-top: 1.5em;
}

.production-input-container .instruction {
	font-size: 1.5em;
}

.production-input-container .count {
	margin: 0 1em;
	max-width: 4em;
	text-align: center;
}

.production-input-container .count input {
	text-align: center;
}
