&
  padding: 1em

.production-info-container
  padding: 1em
  background: light-blue

  .title
    font-size: 2em
    margin-bottom: 0.3em

  .description
    font-style: italic
    font-size: 0.9em
    max-width: 60em

.card-container
  column-count: 3
  column-gap: 0

  +below(1460px)
    column-count: 2
  +below(1050px)
    column-count: 1

.production-input-container
  margin-top: 1.5em
  .instruction
    font-size: 1.5em

  .count
    margin: 0 1em
    max-width: 4em
    text-align: center
    input
      text-align: center
