&
  break-inside: avoid
  padding: 1em

.content-container
  background: dark-blue
  padding: 2em
  color: white

.header
  font-size: 1.2em
  align-items: baseline
  padding-bottom: 0.5em
  border-bottom: 1px dashed white

  .title
    font-size: 1.2em
    font-weight: 500
    border-bottom: 1px solid dark-blue
    transition: 0.25s border-bottom
    .icon
      opacity: 0
      transition: 0.25s opacity
    &:hover
      border-bottom: 1px solid white
      .icon
        opacity: 1

  .uom
    font-size: 0.8em
    font-style: italic
    margin-left: 0.3em
    font-weight: normal

.line-item-container
  padding-top: 1em
  border-bottom: 1px dashed white

.make-info-container
  margin-top: 1em
  font-size: 1.2em
  .label
    font-style: italic
    font-weight: 500

.notes
  font-size: 0.9em
  font-weight: normal
  margin-top: 1em
  white-space: pre
