<div class="flex-col">
  {{#sortable-objects
    sortableObjectList=activeItems
    sortEndAction=(action "sortEndAction")
    enableSort=true
    useSwap=true
    inPlace=true
    sortingScope="sortingGroup"
  }}
    {{#each sortedItems as |item index|}}
      {{#draggable-object
        content=item
        isSortable=true
        sortingScope="sortingGroup"
      }}
        {{component
          rowType
          clickAction=selectAction
          model=item
          index=(inc index)
        }}
      {{/draggable-object}}
    {{/each}}
  {{/sortable-objects}}
</div>
