


<div class="content-container">
  <div class="main-header">
    <h1>{{label}}</h1>
    <div>
      {{ui/icon-label-button
          class='create-button'
          click=createAction
          label=createLabel
          icon='plus'}}
    </div>
  </div>
  <div class="children-container">
    {{#sortable-objects sortableObjectList=sortedModel sortEndAction='sortEndAction' enableSort=true useSwap=true inPlace=false sortingScope="sortingGroup"}}
      {{#each sortedModel as |item index|}}
        {{#draggable-object content=item isSortable=true sortingScope="sortingGroup"}}
          {{component rowType
              clickAction=selectAction
              model=item
              index=(inc index)}}
        {{/draggable-object}}
      {{/each}}
    {{/sortable-objects}}
  </div>
</div>
