<div class="flex flex-col shadow-md bg-blue-lightest w-full">

  <div class="flex-row md:flex items-center justify-between pl-12 pr-12 pt-12 pb-4">

    <div class="text-5xl font-bold text-grey-darkest">
      {{label}}
    </div>

    <div class="invisible md:visible">
      {{ui/icon-label-button
          class="btn-blue"
          click=createAction
          label=createLabel
          icon='plus'}}
    </div>
  </div>

  <div class="pt-6">
    {{#sortable-objects sortableObjectList=sortedModel sortEndAction=(action 'sortEndAction') enableSort=true useSwap=true inPlace=false sortingScope="sortingGroup"}}
      {{#each sortedModel as |item index|}}
        {{#draggable-object content=item isSortable=true sortingScope="sortingGroup"}}
          {{component rowType
              clickAction=selectAction
              model=item
              index=(inc index)}}
        {{/draggable-object}}
      {{/each}}
    {{/sortable-objects}}
  </div>
</div>
