& {
  min-width: 60em;
  max-width: 80em;
  background: $light-blue;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  border-bottom: 1px dashed $dark-grey;
}

.create-button {
  background: $dark-blue;
  padding: 0.75em 1em;
  border-radius: 6px;
  color: white;
}

.children-container {
  margin-top: 2em;
}

.children-container:nth-child(odd) {
  background: $medium-blue;
}
