& {
  font-size: 1.2em;
}

.main-header {
  justify-content: space-between;
  align-items: center;
  background: $sky-blue;
  color: white;
  padding: 0 1em;
}

.content-container {
  padding: 2em;
}

.empty-message {
  font-size: 2em;
  color: $slate;
}

.content-container-header {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  border-bottom: 1px dashed rgba($slate, 0.5);
  margin-bottom: 1em;
  padding: 0 1em;
}
