<div class="flex flex-col shadow-md bg-blue-lightest w-full">

  <div class="flex-row md:flex items-center justify-between pl-12 pr-12 pt-12 pb-4">

    <div class="text-5xl font-bold text-grey-darkest">
      {{label}}
    </div>

    <div class="invisible md:visible">
      {{ui/icon-label-button
          class='shadow-md bg-blue text-2xl rounded-lg p-4 hover:text-grey-lightest hover:bg-blue-darker text-white'
          click=createAction
          label=createLabel
          icon='plus'}}
    </div>
  </div>

  <div class="pt-6">
    {{#each sortedContent as |item index|}}
      {{component rowType
          clickAction=selectAction
          model=item
          index=(inc index)}}
    {{/each}}
  </div>
</div>
