<div class="content-container">
  <div class="main-header">
    <h1>{{label}}</h1>
    <div>
      {{ui/icon-label-button
          class='create-button'
          click=createAction
          label=createLabel
          icon='plus'}}
    </div>
  </div>
  <div class="children-container">
    {{#each sortedContent as |item index|}}
      {{component rowType
          clickAction=selectAction
          model=item
          index=(inc index)}}
    {{/each}}
  </div>
</div>
