<div class="row-blue">
  <div class="flex items-baseline">
    <div class="text-base italic mr-4">{{index}}.</div>
    <div class="flex items-center text-2xl">
      <div class="bold">{{model.label}}</div>
    </div>
  </div>
</div>
