<div class="flex-5 index">{{index}}.</div>
<div class="flex label">{{label}}</div>
<div class="flex-10">
    {{#with (to-best-unit factor uom) as |scaled|}}
      <span class="qty">
        {{scaled.qty}}
      </span>
      <span class="uom">
        {{scaled.uom}}
      </span>
    {{/with}}
</div>
