<div class="w-full flex justify-center">
  <div class="xl:w-2/3 xxl:w-1/2 w-full shadow-md">
    {{lists/sortable-list
      label="Products"
      rowType="rows/label-row"
      createAction=(action "createNode")
      createLabel="Create New Product"
      selectAction=(action "showNode")
      model=model
    }}
  </div>
</div>
