<div class="w-full flex justify-center">
  <div class="xl:w-2/3 xxl:w-1/2 w-full shadow-md">
    {{lists/sortable-list
        label='Ingredients'
        rowType='rows/label-row'
        createAction=(action 'createNode')
        createLabel='Create New Ingredient'
        selectAction=(action 'showNode')
        model=model}}
  </div>
</div>
