.card {
  box-sizing: border-box;
  position: relative;
}

.card-yellow {
  @apply card;
  @apply grad-yellow;
}

.card-yellow::after {
  @apply shadow-underlay;
  box-shadow: 0px 10px 40px rgba(70, 125, 101, 0.4);
}

.card-blue {
  @apply card;
  @apply grad-blue;
}

.card-blue::after {
  @apply shadow-underlay;
  box-shadow: 0px 10px 40px rgba(62, 77, 119, 0.2);
}
