.grad-yellow {
  background: linear-gradient(0deg, #FDF7FD 0%, #FDFDFD 100%);
}

.grad-blue {
  background: linear-gradient(266.6deg, #FBFCFF -14.76%, #FBFCFF 99.95%);
}

.grad-green {
  background: linear-gradient(270deg, #DFFFDA -0.02%, #DFFFDA 105.86%);
}

.left-blue-grad {
  background: linear-gradient(90deg, #D5D6FF 50%, #EDF8FF 100%);
}

.left-blue-dark-grad {
  background: linear-gradient(69.68deg, #608AF7 0%, #789EFF 100%);
}

.left-blue-light-grad {
  background: linear-gradient(69.68deg, #8AA9F9 0%, #95B3FF 100%);
}
