<div class="layout-row content-container-header">
  <div class="flex-5">#</div>
  <div class="flex">Name</div>
  <div class="flex-10">Total Qty</div>
</div>

{{#each filteredNodes as |node index|}}
  {{lists/node-list/node-row
      index=(inc index)
      model=node}}
{{/each}}
