<div class="row">
  <span class="label">{{label}}</span>
  {{#if loading}}
    <span class="icon">{{ui-icon 'spinner' pulse=true}}</span>
  {{else}}
    <span class="icon">{{ui-icon icon}}</span>
  {{/if}}
</div>
