{{#containers/section-container title="Ingredients"}}
  <div class="card-yellow mt-8 p-10 rounded-lg">
    {{lists/sortable-list
      rowType="rows/label-row"
      selectAction=(action "showNode")
      model=model
    }}
  </div>
{{/containers/section-container}}

