<div class="w-full flex justify-center">
  <div class="xl:w-2/3 xxl:w-1/2 w-full shadow-md">
    {{lists/label-list
      label="Productions"
      rowType="rows/date-label-row"
      createAction=(action "createNode")
      createLabel="Create New Production"
      selectAction=(action "showNode")
      destroyAction=(action "destroyNode")
      model=recentProductions
    }}
  </div>
</div>
