input
  border: none
  background: none
  font-size: 1.2em
  border-bottom: 1px solid dark-grey
  color: inherit
  transition: 0.25s all
  width: 100%

input:focus
  border-bottom: 1px solid dark-blue

.description
  margin-top: 0.2em
  font-size: 0.8em
