{{#containers/section-container title="PREP ITEMS"}}
  <div class="flex justify-end -mt-8">
    <button
      class="btn-blue uppercase text-xl"
      {{action "createNode"}}
    >
      Create Prep Item
    </button>
  </div>

  <div class="card-yellow mt-8 p-10 rounded-lg">
    {{lists/sortable-list
      rowType="rows/label-row"
      selectAction=(action "showNode")
      model=model
    }}
  </div>
{{/containers/section-container}}