{{#dialogs/base-dialog
  onClose=cancel
as |dialog|
}}
  {{#dialog.header}}
    DELETE {{model.nodeName}}
  {{/dialog.header}}

  {{#dialog.row}}
    <p class="text-4xl font-thin">
      Are you sure you want to delete {{model.label}}?
    </p>
  {{/dialog.row}}

  {{#dialog.row}}
    <p class="text-4xl font-thin">
      This cannot be undone.
    </p>
  {{/dialog.row}}

  {{#dialog.footer as |footer|}}
    {{#footer.button
      color="red"
      onClick=destroyNode
    }}
      DELETE
    {{/footer.button}}

    {{#footer.button onClick=cancel}}
      Cancel
    {{/footer.button}}
  {{/dialog.footer}}
{{/dialogs/base-dialog}}