<div class="layout-column">
  {{navs/main-nav navigateTo=(route-action 'navigateTo')}}
  <div class="main-container layout-row">
    <div class="layout-col flex-gt-lg-15 flex-gt-md-10"></div>
    <div class="layout-col flex">{{outlet}}</div>
    <div class="layout-col flex-gt-lg-15 flex-gt-md-10"></div>
  </div>
</div>
{{intercom-io}}
