<div class="site-container">
  {{navs/main-nav
      login=(action 'login')
      logout=(action 'logout')
      navigateTo=(route-action 'navigateTo')}}
  <div class="site-content">
    {{outlet}}
  </div>
  {{navs/footer-nav navigateTo=(route-action 'navigateTo')}}
</div>

{{intercom-io}}
