<div class="relative min-h-screen full-gradient">
  {{#if session.isAuthenticated}}
    {{outlet}}
  {{else}}
    <div
      class="absolute pin-t pin-r p-4 flex items-baseline"
    >
      {{ui/label-button
        class="rounded shadow bg-blue text-white p-2 pr-4 pl-4 hover:bg-blue-light"
        label="Login"
        onClick=(action "login")
      }}
    </div>
  {{/if}}
</div>

{{intercom-io}}
