<button type="button" name="button" {{action 'updatePrintTemplate' 'detailed'}}>Detailed</button>
<button type="button" name="button" {{action 'updatePrintTemplate' 'simplified'}}>Simplified'</button>
